* {
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
}

.navbar, .authentication {
    display: flex;
}

.navbar p, .authentication p {
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #284679;
}

.main-content {
    display: flex;
}

.sidebar {
    width: 25%;
    /* height: 90vh; */
    background: linear-gradient(0deg, #75e9d5 0%, #abb6e4 100%);
    padding: 20px;
    border-radius: 10px;
}

.sidebar h2 {
    color: #363e3d;
    font-weight: bold;
}

.sidebar p {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 30%);
    border-radius: 5px;
}

.notice {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.notice h3 {
    color: #163875;
}

.notice p {
    padding: 20px 0;
    color: #363e3d;
}

.notice button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #0807f5 0%, #edc711 100%);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.content-area {
    width: 75%;
    background-color: #f5f5f5;
}


.course_reg {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 10%);
}

.course_reg h2 {
    color: #163875;
}

.course_reg table {
    width: 100%;
}

.course_reg table th, .course_reg table td {
    background: linear-gradient(90deg, #d26315 0%, #c0bdba 100%);
    padding: 5px;
}

.course_reg table th {
    color: #fff;
    text-align: left;
}

.reg_form {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 10%);
}


.reg_form h2 {
    color: #163875;
    margin-bottom: 15px;
}

.reg_form form label {
    color: #363e3d;
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 10px; */ /* label e margin padding kaj kore na*/
}

.reg_form form input {
    padding: 10px;
    margin: 5px 0;
    width: 98%;
    border: 2px solid #bfc1c1;
    border-radius: 6px;
}

.reg_form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #0807f5 0%, #edc711 100%);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.footer {
    /* width: 100%; */
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, #cf691d 0%, #088208 50%, #bbbebb 100%);
    color: #fff;
    font-size: 20px ;
}